body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.top-bar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.top-bar span {
    margin-right: 10px;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.welcome {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.clock-in {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.features h2 {
    margin-top: 0;
}

.features ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.features li {
    margin-bottom: 10px;
}

.features a {
    text-decoration: none;
    color: #333;
}

.tasks {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tasks ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.routineFormDisplay {
    display: none;
}

.hidden {
    display: none;
}

#routineForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
